<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>Codex</title>
	<%- include('includes.html') %>
</head>

<body>
  <div id="app">
    <%- include('nav.html') %>
    <div class="container">
      <div class="row first">
        <div class="col-12-md">
          <h1>Error 404</h1>
        </div>
      </div>
    </div>

    <%- include('footer.html') %>

  </div>
</body>

<script>
  var time = new Date();
  var date = time.getFullYear();

  var prefix = "/"

	var nav_links = [
		{ title: "Projects", link: prefix + "projects/index.html", description: "A complete List of all my projects." },
    { title: "Research", link: prefix + "research/index.html", description: "Research in many diferent topics." },
		{ title: "Programming", link: prefix + "research/programming/index.md", description: "Resources for programming languages and topics." },
		{ title: "Products", link: prefix + "libraries/products/index.md", description: "A wishlist of weird things I would like to own." }
	]

  var app = new Vue({
    el: '#app',
    data: {
      message: 'Hello Vue!',
      date: date,
			nav_links: nav_links
    }
  })
</script>

<script src="/process-links.js"></script>

</html>
