<nav class="navbar fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="/index.html">
    <img src="/Libraries/logos/icon_james.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Codex
  </a>
  <div class="navbar-nav" style="margin-left: 130px;">
    <a class="nav-item nav-link" href="/projects/index.html">Projects</a>
    <a class="nav-item nav-link" href="/research/index.html">Research</a>
    <a class="nav-item nav-link" href="/journal/index.html">Journal</a>
    <a class="nav-item nav-link" href="/research/programming/index.md">Programming</a>
    <!-- <a class="nav-item nav-link" href="/journal/index.md">Journal</a> -->
    <a class="nav-item nav-link" href="/libraries/products/index.md">Products</a>
  </div>
  <%- include('search.html') %>
</nav>
